*{
    margin: 0;
    padding: 0;
}

html,body{
    width: 100vw;
    background-color: rgb(250, 250, 250);
}
main section{
    /* width: 100%; */
    display: flex;
    justify-content: end;
}
main section img{
    width: 100%;
    /* height: fit-content; */
}
nav{
    background-color: #203e80dc;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: space-evenly;
    padding: 0.5em;
    align-items: center;
    min-height:50px ;
    margin-block-end: 1em;
}

a{
    text-decoration: none;
    color: rgb(212, 232, 252);
    cursor: pointer;
}

nav ul{
    /* border: 1px solid wheat; */
    list-style: none;
    display: flex;
    padding: 0 4em;
    width: 100%;
    justify-content: space-around;
}

@media screen and (max-width: 600px){
    nav, ul{
        flex-direction: column;
        align-items: center;
    }
}

.main-img{
    /* transition: 2s; */
    animation: ani-img 2s ;
}
/* Cards using transitions and transform */

#main-img {
    height:30em;
    width:max-content;
    border: 1px solid #ccc;
    /* background-color: cyan; */
    background-size: cover;
    background-origin: center;
    object-fit: cover;
    
  }

.cards{
    width: 90vw;
  /* border: 1px solid #ccc; */
  margin: 20px auto;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap:wrap;
  /* align-items: center; */
  /* border: 1px solid gray; */
  display: grid;
  /* grid-column: 250px 250px; */
  gap: 40px;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-auto-rows: minmax(200px, auto);
  grid-auto-columns: minmax(250px, auto);
  

}

article{
    /* border: 2px solid green; */
    align-self: center;
    padding:1em;
    margin:auto;
    border-radius: 0.4em;
    box-shadow: 2px 2px 8px gray;
    /* display: flex;x */
    /* justify-content: center; */
    background-color: rgb(225, 240, 252);
}

article figure {
    width: 300px;
    /* border: 2px solid red; */
  }

article figure img {
    width: 100%;
    height: 100%;
}

figcaption {
    text-align: center;
    padding-top: 1em;
  }


footer{
    background-color: #203e80dc;
    
}

footer ul{
    
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: space-evenly;
    padding: 0.5em;
    align-items: center;
    min-height:50px ;
}

footer p{
    text-align: left;
    margin-left: 1em;
    /* margin-bottom: 5%; */
    width: 90%;
    padding-bottom: 0.5em;
    /* margin: 4px; */
}
button{
    padding: 0.3em;
    margin-top: 0.7em;
    width: 5em;
    background-color:rgb(206, 154, 241);
    font-size: 1em;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
  }
  li {
    position: absolute;
    left: 50%;
    margin-left: -247px;
    margin-top: 3%;
  }
  li>img{
    border: 1px solid #000;
    border-radius: 3px;
    box-shadow: 0 0 5px 0 hsla(0,0%,30%, .3);
  }
  
  
  li:nth-child(2) {
    animation: xfade 6s 4s infinite;
  }
  li:nth-child(1) {
    animation: xfade 3s 2s infinite;
  }
  li:nth-child(4) {
    animation: xfade 5s 2s infinite;
  }
  li:nth-child(3) {
    animation: xfade 6s 2s infinite;
  }
  @keyframes xfade{
    17% {
      opacity:1;
    }
    25% {
      opacity:0.4;
    }
    92% {
      opacity:0.2;
    }
  }